<h1>Log In</h1>

<form action="">
  <div class="field">
    <label for="email">Email</label><br />
    <input type="email" ng-model="user.email">
  </div>
  <div class="field">
    <label for="password">Password</label><br />
    <input type="password" ng-model="user.password">
  </div>
  <div class="actions"><%= submit_tag "Log In" %></div>
</form>