<form ng-submit="users/1/update">
  
    <div class="field">
      <label for="username">Username</label><br>
      <input type="text" id="username" ng-model="user.username">
    </div>
    <div class="field">
      <label for="email">Email</label><br>
      <input type="text" id="email" ng-model="user.email">
    </div>
    <div class="field">
      <label for="password">Password</label><br>
      <input type="text" id="password" ng-model="user.password">
    </div>
    <div class="field">
      <label for="password_confirmation">Password Confirmation</label><br>
      <input type="text" id="password_confirmation" ng-model="user.password_confirmation">
    </div>
    <div class="field">
      <label for="first_name">First Name</label><br>
      <input type="text" id="first_name" ng-model="user.first_name">
    </div>
    <div class="field">
      <label for="last_name">Last Name</label><br>
      <input type="text" id="last_name" ng-model="user.last_name">
    </div>
    <div class="actions">
      <input type="submit">
    </div>
</form>
