<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Username</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr ng-repeat="user in users">
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
          <a ui-sref="user({id: user.id})">Show</a>
          <a ui-sref="editUser({id: user.id})">Edit</a>
          <a ui-sref="destroyUser({id: user.id})">Delete</a>
        </td>
      </tr>
  </tbody>
</table>

<span ng-click="service.userForm">test</span>

<a ui-sref="newUser">New user</a>
